<!-- <app-mynav [dataparent]="data"></app-mynav> -->
<div
  (mouseenter)="navfunc()"
  class="the-home d-flex justify-content-center align-items-center py-5"
>
  <div class="thehome-content text-center py-3">
    <img
      src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg"
      width="300"
      alt="smile face"
    />
    <h2>start Framework</h2>
    <div class="the-star p-3 text-center">
      <span class="my-star position-relative"
        ><i class="text-light fa-solid fa-star"></i
      ></span>
    </div>
    <p>Graphic Artist - Web Designer - Illustrator</p>
  </div>
</div>
