<div class="the-footer d-flex justify-content-evenly py-5 text-center">
  <div class="loaction">
    <h3>LOCATION</h3>
    <p>2215 John Daniel Drive</p>
    <p>Clark, MO 65243</p>
  </div>

  <div class="web">
    <h3>AROUND THE WEB</h3>
    <div class="social-media">
      <ul class="d-flex align-items-center justify-content-center">
        <li class="me-3 circle text-center">
          <i class="text-light fa-brands fa-facebook"></i>
        </li>
        <li class="me-3 circle text-center">
          <i class="text-light fa-brands fa-twitter"></i>
        </li>
        <li class="me-3 circle text-center">
          <i class="text-light fa-brands fa-linkedin-in"></i>
        </li>
        <li class="me-3 circle text-center">
          <i class="text-light fa-solid fa-globe"></i>
        </li>
      </ul>
    </div>
  </div>

  <div class="FREELANCER">
    <h3>ABOUT FREELANCER</h3>
    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
  </div>
</div>

<div class="copy-wite text-center py-2">
  <p>Copyright © Your Website 2021</p>
</div>
